<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  <input type="checkbox" id="theme-toggle" class="theme-toggle-checkbox" aria-label="Toggle dark mode">
  <header>
    <div class="header-container">
      {{ partial "header.html" . }}
    </div>
  </header>
  <main>
    <div class="content-container">
      {{ block "main" . }}{{ end }}
    </div>
  </main>
  <footer>
    <div class="content-container">
      {{ partial "footer.html" . }}
    </div>
  </footer>
</body>
</html>
